* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background: #26262e;
  position: relative;
}

.extenstion-section {
  height: 550px;
  position: relative;
}

.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content-container {
  height: 100%;
  padding: 5px;
  position: relative;
}

/* Header */

.logo-container {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  color: #ffff33;
  border-bottom: 1px solid #ffff33;
}

#logo {
  width: 80px;
}

.menu-btn {
  color: #80808e;
  transition: 0.2s ease-in;
}

.menu-btn:hover {
  color: #ffff33;
  cursor: pointer;
}

/* Input & Output */

.text-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

textarea {
  height: 100%;
  width: 100%;
  margin: auto;
  background: #26262e;
  color: #f5f5f5;
  resize: none;
  border: none;
  outline: none;
  font-size: 16px;
}

/* Loading Component */

.loading-container {
  color: #f5f5f5;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#loading-gear-icon {
  font-size: 2rem;
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Sign Page */

.sign-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.title-container {
  background: #ffff33;
  padding: 20px;
  color: #1d1d1d;
  border-radius: 5px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sign-form input {
  font-size: 14px;

  border-style: none;
  padding: 14.5px;
  background: #34343a;
  color: #f5f5f5;
  text-align: center;
  border-radius: 5px;
  outline: none;
}

.sign-btn-container {
  display: flex;
  flex-direction: column;
}

.navlink {
  color: #80808e;
  margin: 5px;
  transition: 0.2s ease-in;
}

.navlink:hover {
  color: #a4a4b7;
  cursor: pointer;
}

.t-o-u-text {
  color: #80808e;
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  font-size: 12px;
  bottom: 5px;
  width: 100%;
}

#inline-link {
  color: lightskyblue;
}

#inline-link:hover {
  cursor: pointer;
}

.error-message {
  background: #80808e;
  width: 100%;
  padding: 10px 0px;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
}

.error-message-text {
  padding: 5px;
}

.paragraph-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.paragraph-container {
  max-height: 430px;
  color: #80808e;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  font-size: 12px;
  overflow-y: scroll;
}

/* Menu */
.menu-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-btn-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#main-btn {
  color: #80808e;
  background: #34343a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  height: 45px;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
}

#menu-btn:hover {
  background: #4a4a52;
  color: #f5f5f5;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#main-btn:hover {
  background: #4a4a52;
  color: #f5f5f5;
  cursor: pointer;
}
